HibernateRelatorioPostgreSQL2025/


# =========================
# NetBeans
# =========================
**/nbproject/private/
**/build/
**/dist/

# Arquivos temporários do NetBeans
*.orig

# =========================
# Maven
# =========================
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# =========================
# Gradle (se usar)
# =========================
.gradle/
build/

# =========================
# Arquivos Java comuns
# =========================
*.class
*.log
*.tmp
*.bak
*.swp
*.swo

# =========================
# Sistema Operacional
# =========================
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Linux
*~
