/3_4_semestre/profCélio/1_semestre/POO/TESTEjava/target/
/3_4_semestre/profCélio/1_semestre/POO/Aulas/nbproject/private/
/3_4_semestre/profCélio/1_semestre/POO/Aulas/build/
/3_4_semestre/profCélio/1_semestre/POO/aula02/nbproject/private/
/3_4_semestre/profCélio/1_semestre/Trabalhos/Trabalhos/target/
